.flex-box {
    display: flex;  
    justify-content: space-between;
    gap: 15px; 
    width: 100%; 
    max-width: 1200px; 
}

.flex-box img {
    flex: 1; 
    width: auto; 
    height: 200px; 
    object-fit: cover;
}

@media (max-width: 600px) {
    .flex-box {
        flex-direction: column;
    }

    .flex-box img {
        width: 100%; 
    }
}

